body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: auto; /* Permite rolagem se necessário */
    
}

.hero-section {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da tela */
    background-image: url('IMG_5506.JPG'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s ease; /* Transição suave para a opacidade */
    z-index: 1000; /* Garante que a seção esteja sobre outras seções */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Cor preta com 50% de opacidade */
}

.text-overlay {
    position: relative;
    z-index: 1;
    font-size: 72px; /* Tamanho do texto */
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombras para dar contraste ao texto */
}

.info-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh; /* Permite que a seção se expanda conforme necessário */
    padding: 0 50px;
    color: white;
    background: black;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites da seção */
}

.info-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Fica atrás do conteúdo da seção de informações */
}

.info-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sobreposição escura */
    z-index: 2; /* Fica sobre o vídeo, atrás do conteúdo */
}

.info-box {
    background-color: rgba(71, 71, 71, 0.389); /* Fundo branco com 80% de opacidade */
    padding: 30px;
    border-radius: 10px;
    width: 30%;
    height: 55%;
    position: relative;
    z-index: 3; /* Fica acima da sobreposição e do vídeo */
}

.info-box h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.info-box p {
    font-size: 24px;
    margin: 10px 0;
    max-width: 400px;
}

.gif-box {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; /* Fica acima da sobreposição e do vídeo */
}

.gif-box img {
    max-width: 100%;
    border-radius: 10px;
}

.seal {
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-15deg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.seal-text {
    color: white;
    font-family: 'Rock Salt', cursive; /* Fonte roqueira */
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-section {
    background-color: #333; /* Cor de fundo escura */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    position: relative;
    bottom: 0;
    width: 100%;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.gallery-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da tela */
    background-color: #000; /* Fundo preto ou qualquer cor desejada */
    overflow: hidden; /* Garante que o conteúdo não exceda o contêiner */
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Garante que o conteúdo não exceda o contêiner */
}

.photo-grid {
    display: flex;
    width: 300%; /* Três vezes a largura para permitir a rotação */
    height: 100%;
    animation: slide 10s linear infinite; /* Animação contínua */
}

.photo-grid img {
    width: 33.33%; /* Cada imagem ocupa um terço da largura do contêiner */
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
    flex-shrink: 0; /* Garante que as imagens não encolham */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-66.66%); /* Move a grid 2/3 da largura */
    }
}


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.special-participations {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: #000000; /* Cor de fundo da seção, ajuste conforme necessário */
    height: 100vh; /* Ocupa toda a altura da tela */
}

.left-section {
    width: 50%; /* Ajusta o tamanho da seção esquerda */
    padding-right: 20px;
    color:aliceblue
}

.right-section {
    width: 50%; /* Ajusta o tamanho da seção direita */
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-section {
    width: 100%;
    margin-bottom: 30px;
}

.title-section h1 {
    font-size: 48px;
    margin: 0;
}

.participation {
    text-align: center;
    margin: 20px;
}

.social-icon {
    color: #000; /* Cor dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
    margin: 0 10px; /* Espaçamento entre os ícones */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.social-icon:hover {
    color: #007bff; /* Cor ao passar o mouse */
}


.participations-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.participation-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.name {
    font-size: 24px;
    margin-right: 20px;
    flex: 1; /* Faz o nome ocupar o espaço restante */
}

.photo {
    width: 80px; /* Ajuste o tamanho da foto conforme necessário */
    height: 80px;
    object-fit: cover; /* Mantém a proporção da foto */
    border-radius: 50%; /* Deixa a foto redonda */
}

.gif {
    width: 100%; /* Ajuste o tamanho do GIF conforme necessário */
    max-width: 600px; /* Define um limite máximo para o GIF */
}

.footer-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 10px 0;
}

.footer-section .partners,
.footer-section .participation {
    margin-top: 20px;
}

.footer-section .partners img,
.footer-section .participation img {
    max-width: 150px;
    margin: 10px;
    vertical-align: middle;
}

.footer-section .partners,
.footer-section .participation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-section .partners img,
.footer-section .participation img {
    margin: 0 15px;
}

.footer-section a {
    color: #f4f4f4;
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.scrollable-container {
    overflow-y: scroll; /* Permite rolagem vertical */
    height: 100vh; /* Ajusta a altura do contêiner para a altura da janela */
}

::-webkit-scrollbar {
    display: none;
}

.copyright {
    text-align: center; /* Alinha o texto no centro */
    padding: 20px; /* Adiciona um pouco de espaçamento ao redor do texto */
    color: #ffffff; /* Cor do texto opcional */
    font-size: 14px; /* Tamanho da fonte opcional */
    bottom: 0; /* Alinha o texto na parte inferior da página */
    width: 100%; /* Ocupa toda a largura da página */
}
